 /*--biografia--*/
 .biography img {width: 350
    px;
height: 500px;
padding: 20px;}

.biography p {color: white;
    margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify;
}

.biografia-titulo
{
    color: white;
    text-align: center;
    font-size: 20px;
}
