//! Extended

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music2 {
    @extend %flex;
}

//!Mixin

@mixin sizes ($width, $height, )
    {width: $width;
    height: $height;
    
    }
    .galeria img{
        @include sizes(300px,380px);

        }

        @mixin disco ($width, $height, $padd)
        {width: $width;
            height: $height;
            padding: $padd;
            }

        .disco img{
            @include disco (200px,200px,5px);
        }
    