/*--Giras--*/

.baby{
    display:flex
}

.baby img {
height: 500px;
padding: 20px;
}

.baby p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.oops{
    display:flex
}

.oops img {
height: 570px;
padding: 20px;
}

.oops p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.dream{
    display:flex
}

.dream img {
height: 500px;
padding: 20px;
}

.dream p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.onyx{
    display:flex
}

.onyx img {
height: 500px;
padding: 20px;
}

.onyx p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.circus{
    display:flex
}

.circus img {
height: 500px;
padding: 20px;
}

.circus p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.ff{
    display:flex
}

.ff img {
height: 500px;
padding: 20px;
}

.ff p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}

.vegas{
    display:flex
}

.vegas img {
height: 500px;
padding: 20px;
}

.vegas p{
color: white;
margin-top: 20px;
padding: 20px;
font-size: 0.8rem;
text-align: justify
}





