/*--Index--*/

.news
{
    display:flex
}
.news p
{
    font-size: 0.8rem;
}

.biography
{
    display: flex;
}

.logo-header
{
    animation: ease-in animation 1s;
}
@keyframes animation{
    0% {
        transform: scale(0)
    }
    100%
    {
        transform: scale(1);
    }
}
.navbar-text
{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.main-imagen {
    width: 100%;
}


.music div {
    padding: 20px;
}


.titulo {text-align: center;
color: aliceblue;
font-size: 2rem;
font-weight: 100;
font-family: 'Public Sans', sans-serif;;}

.noticias p
{
    color: white;
    text-align: justify;
    padding: 20px;
    
}
.noticias img
{padding: 20px;
width: 500px;

}





